@page "/"
@layout MainLayout

<div>
    <div> Render mode: Server</div>
    <div>Base URL : @AppConfiguration!.BaseUrl</div>
    <div>Application Name : @AppConfiguration!.ApplicationName</div>
</div>